<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Collective Intelligence</title>
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
  </head>

  <body>
    {%- block topbar -%}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h2>
              <a href="/" class="brand">Text analytics</a> <small>Starring Flask, MongoDB</small>
          </h2>
        </div>
        <div class="navbar-collapse">
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
