{% extends "base.html" %}


{% block content %}
<div>
    <table class="table table-striped table-condensed">
        <thead>
        <th>Date</th>
        <th>Title</th>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr style="white-space: nowrap;">
                <td>{{post.timestamp}}</td>
                <td>
                    <a href="{{ url_for('posts.get_post', post_id=post._id) }}">{{post.title}}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
